<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-5 col-xl-5"></div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 pt-4">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" autocomplete="off">
                <div class="login-label"><span class="login-content">LOG IN</span></div>
                <div>
                    <input id="userName" title="Please fill out this field" formControlName="userName" type="text"
                        class="inputText" required />
                    <span class="floating-label">Username</span>
                </div>
                <div *ngIf="loginForm.get('userName').invalid && (loginForm.get('userName').dirty || loginForm.get('userName').touched)"
                class="validation-err-msg">
                <div *ngIf="loginForm.get('userName').errors.required" class="text-danger font-weight-bold error-msg">Please fill out this field</div>
            </div>
            <!-- <div *ngIf="isFormError && loginForm.value.userName === ''" class="text-danger font-weight-bold error-msg">Please fill out this field</div> -->
                <br />
                <button name="submit" [disabled]="loginForm.status === 'INVALID'">SIGN IN</button>
            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-5 col-xl-5"></div>
    </div>
</div>